<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Christophe Jeunesse
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/spring/webserver.rest.applicationContext.xml" />
    <import resource="classpath:META-INF/spring/webserver.couchbase.applicationContext.xml" />

    <bean id="testDocDao" class="com.dreameddeath.core.dao.document.CouchbaseDocumentDao"
          factory-bean="couchbaseDaoFactory" factory-method="addDaoForEntity">
        <constructor-arg value="test" />
        <constructor-arg value="testdoc" />
    </bean>

    <bean id="serviceRegistrar"
          class="com.dreameddeath.core.service.registrar.ServiceRegistrar"
          factory-bean="serviceDiscovererManager"
          factory-method="getServiceRegistrar">
        <constructor-arg type="java.lang.String" value="tests" />
    </bean>

    <bean id="daoReadServiceRegistrar"
          class="com.dreameddeath.core.service.registrar.ServiceRegistrar"
          factory-bean="serviceDiscovererManager"
          factory-method="getServiceRegistrar">
        <constructor-arg type="java.lang.String" value="${core.helper.dao.services.read.domain}" />
    </bean>

    <bean id="daoWriteServiceRegistrar"
          class="com.dreameddeath.core.service.registrar.ServiceRegistrar"
          factory-bean="serviceDiscovererManager"
          factory-method="getServiceRegistrar">
        <constructor-arg type="java.lang.String" value="${core.helper.dao.services.write.domain}" />
    </bean>

    <jaxrs:server id="tests" transportId="http://cxf.apache.org/transports/http" address="/tests" >
        <jaxrs:serviceBeans>
            <bean id="tests" class="com.dreameddeath.infrastructure.daemon.TestRestService" >
                <property name="address" value="/tests"/>
                <property name="endPoint" ref="endPoint"/>
                <property name="serviceRegistrar" ref="serviceRegistrar" />
            </bean>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.dreameddeath.core.json.JsonProviderFactory" factory-method="getProvider">
                <constructor-arg value="service" />
            </bean>
        </jaxrs:providers>
    </jaxrs:server>

    <jaxrs:server id="dao" transportId="http://cxf.apache.org/transports/http" address="/daos" >
        <jaxrs:serviceBeans>
            <bean id="testDao" class="com.dreameddeath.infrastructure.daemon.TestDocWriteRestService" >
                <property name="address" value="/daos"/>
                <property name="endPoint" ref="endPoint"/>
                <property name="serviceRegistrar" ref="daoWriteServiceRegistrar" />
                <property name="sessionFactory" ref="couchbaseSessionFactory" />
                <property name="userFactory" ref="userFactory" />
            </bean>
            <bean id="testDaoRead" class="com.dreameddeath.infrastructure.daemon.TestDocReadRestService" >
                <property name="address" value="/daos"/>
                <property name="endPoint" ref="endPoint"/>
                <property name="serviceRegistrar" ref="daoReadServiceRegistrar" />
                <property name="sessionFactory" ref="couchbaseSessionFactory" />
                <property name="userFactory" ref="userFactory" />
            </bean>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.dreameddeath.core.json.JsonProviderFactory" factory-method="getProvider">
                <constructor-arg value="couchbase-public" />
            </bean>
        </jaxrs:providers>
    </jaxrs:server>
</beans>