<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 	Copyright Christophe Jeunesse
  ~
  ~ 	Licensed under the Apache License, Version 2.0 (the "License");
  ~ 	you may not use this file except in compliance with the License.
  ~ 	You may obtain a copy of the License at
  ~
  ~ 	http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ 	Unless required by applicable law or agreed to in writing, software
  ~ 	distributed under the License is distributed on an "AS IS" BASIS,
  ~ 	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ 	See the License for the specific language governing permissions and
  ~ 	limitations under the License.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
                ">

    <import resource="classpath:META-INF/spring/webserver.rest.applicationContext.xml" />
    <import resource="classpath:META-INF/spring/webserver.couchbase.applicationContext.xml" />
    <import resource="classpath:META-INF/spring/webserver.queries.applicationContext.xml" />


    <bean id="serviceRegistrar"
          class="com.dreameddeath.core.service.registrar.RestServiceRegistrar"
          factory-bean="serviceDiscovererManager"
          factory-method="getServiceRegistrar">
        <constructor-arg type="java.lang.String" value="test" />
    </bean>

    <bean id="testModelDao" class="com.dreameddeath.core.dao.document.CouchbaseDocumentDao"
          factory-bean="couchbaseDaoFactory" factory-method="addDaoForEntity">
        <constructor-arg value="test" />
        <constructor-arg value="testmodel" />
    </bean>

    <bean id="queryService" class="com.dreameddeath.core.query.service.IQueryService"
          factory-bean="queryServiceFactory" factory-method="addQueryService">
        <constructor-arg value="com.dreameddeath.infrastructure.plugin.query.QueryTestModelService" />
    </bean>

    <jaxrs:server id="tests" transportId="http://cxf.apache.org/transports/http" address="/tests" >
        <jaxrs:serviceBeans>
            <bean id="tests" class="com.dreameddeath.infrastructure.plugin.query.RestQueryTestModelService" >
                <property name="address" value="/tests"/>
                <property name="endPoint" ref="endPoint"/>
            </bean>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.dreameddeath.core.json.JsonProviderFactory" factory-method="getProvider">
                <constructor-arg value="service" />
            </bean>
        </jaxrs:providers>
    </jaxrs:server>
</beans>