/*
 * Copyright Christophe Jeunesse
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

package ${service.package};


import com.dreameddeath.core.service.client.ServiceClientFactory;
import com.dreameddeath.core.service.utils.ServiceJacksonObjectMapper;
import com.dreameddeath.core.service.model.HasServiceClientFactory;
import com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider;
import rx.Observable;

import javax.ws.rs.client.Entity;
import javax.ws.rs.core.GenericType;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.client.Invocation.Builder;
import javax.ws.rs.client.WebTarget;

import javax.annotation.Generated;


#foreach($import in $service.imports)
import ${import};
#end

@Generated(
    value = "${generator.name}",
    date = "${generator.date}",
    comments = "${generator.comment}"
)
public class ${service.clientSimpleClassName} implements HasServiceClientFactory#foreach($interface in $service.interfaces),$interface#end {
#if($service.hasGlobalContextTranscoder())
    private IGlobalContextTranscoder _transcoder;
#end
    private ServiceClientFactory _serviceClientFactory;

#if($service.hasGlobalContextTranscoder())
    public void setContextTranscoder(IGlobalContextTranscoder transcoder){
        _transcoder = transcoder;
    }
#end
    @Override
    public void setServiceClientFactory(ServiceClientFactory clientFactory){
        _serviceClientFactory = clientFactory;
    }
    @Override
    public ServiceClientFactory getServiceClientFactory(){
        return _serviceClientFactory;
    }

#foreach($method in $service.methods)
    @Override
    public Observable<${method.returnClassName}> ${method.name}(#foreach($param in $method.methodParamsDefinition)#if($foreach.index>0),#end $param.className $param.name #end){
        WebTarget target = _serviceClientFactory.getClient("${service.name}", "${service.version}")
                                                .register(new JacksonJsonProvider(ServiceJacksonObjectMapper.getInstance()));
        target = target.path(
                String.format(
                    "$esc.java($method.pathInfo.jaxRsPattern).substring(1)"
#foreach($pathParam in $method.pathInfo.urlParamsList)
                    ,$pathParam.getterString
#end
                    )
                );

#foreach($queryParam in $method.pathInfo.queryParamsList)
        if($queryParam.getterString!=null){
            target = target.queryParam("$esc.java($queryParam.name)",$queryParam.getterString);
        }
#end
        return Observable.from(
                    target.request(MediaType.APPLICATION_JSON_TYPE)
#if($method.hasGlobalContextParam())
                    .header("X-CONTEXT", _transcoder.encode($method.globalContextParamName))
#end
                    .async()
                    .${method.httpMethod.toLowerCase()}(
#if($method.hasBody())
                        Entity.entity(${method.bodyInfo.getterString}, MediaType.APPLICATION_JSON_TYPE),
#elseif($method.needEmptyBody())
                        null,
#end
                        new GenericType<>(${method.returnClassName}.class)
                    )
                );
    }
#end
}
